.gallery {
  text-align: center;
  padding: 168px 0 140px;
  &__header {
    position: relative;
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #2c4058;
    margin-bottom: 100px;
    &::before {
      content: "";
      width: 153px;
      height: 1px;
      background-color: #2c4058;
      position: absolute;
      top: -28px;
      left: 50%;
      margin-left: -76px;
    }
  }
  &__button {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #2c4058;
    background: none;
    border: 1px solid #2c4058;
    cursor: pointer;
    padding: 20px 56px;
    &:hover {
      color: #fff;
      background: #2c4058;
    }
    text-align: center;
  }
  &__wrapper {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .gallery__item--1 {
      background: url(../img/Image.jpg) no-repeat center center;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      &:hover {
        background: url(../img/Union.png) no-repeat center center,
          url(../img/Image.jpg) no-repeat center center;
      }
    }
  }
}
