.news {
  padding: 140px 0;
  background-image: url(../img/city.png),
    linear-gradient(rgba(85, 183, 255, 0.92), rgba(125, 89, 255, 0.81));
  background-repeat: no-repeat;
  background-position-y: bottom;
  &__header {
    position: relative;
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px;
    &::before {
      content: "";
      width: 153px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: -28px;
      left: 50%;
      margin-left: -76px;
    }
  }
  &__img {
    width: 100%;
    font-size: 0;
    display: inline-block;
    position: relative;
    &:hover {
      .news__hover {
        opacity: 1;
      }
    }
    img {
      width: 100%;
    }
  }
  &__hover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    opacity: 0;
  }
  &__plus {
    width: 23px;
    height: 2px;
    margin-bottom: -2px;
    background: #fff;
    &--vertical {
      width: 23px;
      height: 2px;
      background: #fff;
      transform: rotate(90deg);
    }
  }
  &__subheader {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-transform: uppercase;
    color: #2c4058;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4b5562;
    margin-bottom: 32px;
  }
  &__who {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
    }
  }
  &__name {
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2c4058;
    margin-left: 20px;
  }
  &__date {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #55b7ff;
    text-transform: none;
  }
  &__item {
    background: #fff;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__wrapText {
    padding: 20px;
  }
}
.news__slider {
  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    bottom: -86px;
    list-style-type: none;
    left: 50%;
    margin-left: -109px;

    li {
      &:hover {
        transform: scale(1.5);
      }
      &:not(:last-child) {
        margin-right: 42px;
      }
    }

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border-radius: 50%;

      border: 1px solid #fff;
      background-color: transparent;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: #fff;
    }
  }
}
button.slick-prev.pull-left {
  border: none;
  .news__scroll {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    &:hover .header__arrow {
      margin-right: 10px;
    }
    position: absolute;
    bottom: 50%;
    left: -100px;
    margin-bottom: -20px;
  }
  .news__arrow {
    height: 6px;
    width: 6px;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
    transform: rotate(45deg);
  }
}
button.slick-next.pull-right {
  border: none;
  .news__scroll {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    &:hover .header__arrow {
      margin-left: 10px;
    }
    position: absolute;
    bottom: 50%;
    right: -100px;
    margin-bottom: -20px;
  }
  .news__arrow {
    height: 6px;
    width: 6px;
    border-right: solid 1px #fff;
    border-top: solid 1px #fff;
    transform: rotate(45deg);
  }
}
