@import "_fonts";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Gotham, sans-serif;
  font-weight: normal;
}
@import "header";
@import "whatWeDo";
@import "latestNews";
@import "gallery";
@import "map";
@import "footer";
